<div class="container">
    <div id="teams">
        <h1>Teams</h1>
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <% @teams.each do |team| %>
                        <div class="col-lg-4">
                            <div class="card mb-5 mb-lg-5">
                                <div class="card-body">
                                    <h5 class="text-muted text-uppercase text-center">
                                        <%= link_to team.name, team %>
                                    </h5>
                                    <hr>
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Miembro</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </section>
    </div>
</div>
