<div class="container">
    <div id="teams">
        <h1>Teams</h1>
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <% @teams.each do |team| %>
                        <div class="col-lg-4">
                            <div class="card mb-5 mb-lg-5">
                                <div class="card-body">
                                    <h5 class="text-muted text-uppercase text-center">
                                        <%= link_to team.name, team %>
                                    </h5>
                                    <hr>
                                    <% if team.users.present? %>
                                        <ul class="fa-ul">
                                            <% team.users.each do |user| %>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span><%= user.username %></li>
                                            <% end %>
                                        </ul>
                                    <% else %>
                                        <div class="col-md-12">
                                            <p class="text-center muted">
                                                No tiene usuarios
                                            </p>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </section>
    </div>
</div>
